<form (ngSubmit)="addMoney()">
  <div>
    <label class="label" for="quantity">How many?</label>
    <input
      type="range"
      thumblabel
      min="1"
      max="10"
      value="{{ quantity }}"
      name="quantity"
      [(ngModel)]="quantity"
    />
    <output value="{{ quantity }}"></output>
  </div>
  <div>
    <label class="label" for="coinChoice">Which coin?</label>
    <!-- Original assignment using select. -->
    <!-- <select [(ngModel)]="currentCoin" name="coinChoice">
      <option *ngFor="let d of denominations" value="{{ d.name }}">
        {{ d.name | titlecase }}
      </option>
    </select> -->
    <!-- Extended challenge using radio buttons. -->
    <div *ngFor="let d of denominations">
      <label for="coin_choice_{{ d.name }}">
        <input
          id="coin_choice_{{ d.name }}"
          [value]="d.name"
          type="radio"
          name="coinChoice"
          [(ngModel)]="currentCoin"
        />
        {{ d.name | titlecase }}
      </label>
    </div>
  </div>
  <button type="submit">Make Money!</button>
</form>
<button (click)="startOver()">Start over.</button>

<h3>You have {{ sumMoney() | currency }}.</h3>

<div>
  <img
    *ngFor="let c of totalCoins; index as i"
    src="assets/{{ c.name }}.png"
    style.width="{{ c.width }}px"
    (click)="removeMoney(i)"
  />
</div>
